body {
    background: linear-gradient(to left, #291cb0, #9bea73);
    text-align: center;
}

img {
    width: 400px;
    height: 250px;
    border: black 2px solid;
    margin: 5px;
}

ol {
    list-style-position: inside;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}
